<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/auth/signup" method="post">
        {% csrf_token %}
        
        <div class="form-field">
            <label for="{{ form.username.id_for_label }}">Username: </label> 
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">Password: </label> 
            {{ form.password }}
            {{ form.password.errors }}
        </div> 
        <div class="form-field">
            <label for="{{ form.email.id_for_label }}">Email: </label> 
            {{ form.email }}
            {{ form.email.errors }}
        </div> 
        
        <div class="form-feild">
            {{ message }}
        </div>
        <button type="submit"> Sbumit </button>
        
    </form>
</body>
</html>
