<html>
    <head>
        <title>Bus List</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <a href="/bus/add_bus"><button>Add bus </button></a>
        <table>
            <tr>
                <th>Bus Name</th>
                <th>Bus Number</th>
                <th>Bus Capacity</th>
                <th>Bus Fare</th>
                <th>Bus Route</th>
                {% if is_superuser %}
                <th>Delete</th>
                {% endif %}
            </tr>
            {% for bus in buses %}

            <tr>
                <td>{{ bus.bus_name }}</td>
                <td>{{ bus.bus_number }}</td>
                <td>{{ bus.bus_capacity }}</td>
                <td>{{ bus.bus_fare }}</td>
                <td><a href="/bus/show_route/{{ bus.bus_id }}">Route</a></td>
                {% if is_superuser %}
                <td>
                    <form action="/bus/delete_bus/" method="post">
                        <input type="hidden" name="bus_id" value="{{ bus.bus_id }}">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
